<!-- NAVBAR -->

<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>

<!-- 2 COLONNES (COMPONENT FAVORIS ET COMPONENT LIST) -->

<div class="container">

  <div class="row">

      <div class="col-3 fav-bgc">
        <!-- COMPONENT <app-favoris> -->
          <app-favoris></app-favoris>
      </div>

      <div class="col-9 list-bgc">
        <!-- COMPONENT <app-list> -->
          <app-list></app-list>
      </div>
  </div>

</div>