li:hover{
    transform: scale(1.004);
}
img {
    width: 50px;
    background-color: #007bff;
}

.fa-trash-alt:hover{
    color: red;
}
.fa-star:hover{
    color: #fec000;
}

.fas.fa-star{
    color: #fec000;
}